{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_groupmerge/mapping_table

    Renders a table of group merge mappings.

    Example context (json):
    {
        "courseid": 1,
        "canaddmapping": true,
        "mappings": [
            {
                "mappingid": 1,
                "mappingname": "My Mapping",
                "sourcegroups": [
                    {"id": 10, "name": "Source Group 1"},
                    {"id": 11, "name": "Source Group 2"}
                ],
                "targetgroup": {
                    "id": 1,
                    "name": "Target Group A"
                },
                "typename": "Subset",
                "typeicon": "type_subset"
            }
        ]
    }
}}

<div id="local_groupmerge-mapping-table" data-courseid="{{courseid}}">
{{^canaddmapping}}
<div class="alert alert-warning d-flex align-items-center flex-column gap-3">
    <div>{{#str}} notenoughgroups, local_groupmerge {{/str}}</div>
    <div><a href="{{config.wwwroot}}/group/index.php?id={{courseid}}" class="btn btn-secondary">{{#str}} managegroups, local_groupmerge {{/str}}</a></div>
</div>
{{/canaddmapping}}
{{#canaddmapping}}
<p class="text-muted mb-3">{{#str}} plugin_desc, local_groupmerge {{/str}}</p>
<h4>{{#str}} links_title, local_groupmerge {{/str}}</h4>
<div class="d-flex justify-content-end mb-2">
    <button type="button" class="btn btn-primary" data-action="addmapping"
            aria-label="{{#str}} addlink, local_groupmerge {{/str}}"
            title="{{#str}} addlink, local_groupmerge {{/str}}">
        {{#pix}} t/add, core {{/pix}} {{#str}} addlink, local_groupmerge {{/str}}
    </button>
</div>
<div class="table-responsive">
<table class="table table-bordered table-striped w-100">
    <colgroup>
        <col class="local_groupmerge-col-name">
        <col class="local_groupmerge-col-sourcegroups">
        <col class="local_groupmerge-col-targetgroup">
        <col>
        <col>
    </colgroup>
    <thead>
        <tr>
            <th scope="col">{{#str}} linkname, local_groupmerge {{/str}}</th>
            <th scope="col">{{#str}} sourcegroups, local_groupmerge {{/str}}</th>
            <th scope="col">{{#str}} targetgroup, local_groupmerge {{/str}}</th>
            <th scope="col" class="text-center text-nowrap">
                {{#str}} linktype, local_groupmerge {{/str}}
                {{#helpicon}}{{> core/help_icon}}{{/helpicon}}
            </th>
            <th scope="col" class="text-nowrap">{{#str}} actions {{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#mappings}}
        <tr>
            <td>{{mappingname}}</td>
            <td>
                {{#sourcegroups}}
                    <div>
                        <span data-local_groupmerge-groupid="{{id}}">
                            <a href="{{editurl}}">{{name}}</a>
                            (<a href="{{membersurl}}">{{membercount}}</a>)
                        </span>
                    </div>
                {{/sourcegroups}}
            </td>
            <td>
                <span data-local_groupmerge-groupid="{{targetgroup.id}}">
                    <a href="{{targetgroup.editurl}}">{{targetgroup.name}}</a>
                    (<a href="{{targetgroup.membersurl}}">{{targetgroup.membercount}}</a>)
                </span>
            </td>
            <td class="text-center text-nowrap">
                {{#pix}} {{typeicon}}, local_groupmerge, {{typename}} {{/pix}}
            </td>
            <td class="text-nowrap">
                <a href="#" data-action="edit" data-local_groupmerge-mappingid="{{mappingid}}"
                   aria-label="{{#str}} edit {{/str}}" title="{{#str}} edit {{/str}}">
                    {{#pix}} t/edit, core, {{#str}} edit {{/str}} {{/pix}}
                </a>
                <a href="#" data-action="delete" data-local_groupmerge-mappingid="{{mappingid}}"
                   aria-label="{{#str}} delete {{/str}}" title="{{#str}} delete {{/str}}">
                    {{#pix}} t/delete, core, {{#str}} delete {{/str}} {{/pix}}
                </a>
            </td>
        </tr>
        {{/mappings}}
        {{^mappings}}
        <tr>
            <td colspan="5">{{#str}} nolinks, local_groupmerge {{/str}}</td>
        </tr>
        {{/mappings}}
    </tbody>
</table>
</div>
{{#hasresolvedmappings}}
<h4 class="mt-4">{{#str}} resolvedmappingstitle, local_groupmerge {{/str}}</h4>
<p class="text-muted">{{#str}} resolvedmappings_desc, local_groupmerge {{/str}}</p>
<div class="table-responsive">
<table class="table table-bordered table-striped w-100">
    <colgroup>
        <col class="local_groupmerge-col-resolved">
        <col class="local_groupmerge-col-resolved">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">{{#str}} sourcegroups, local_groupmerge {{/str}}</th>
            <th scope="col">{{#str}} targetgroup, local_groupmerge {{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#resolvedmappings}}
        <tr>
            <td>
                {{#sourcegroups}}
                    <div>{{name}}</div>
                {{/sourcegroups}}
            </td>
            <td>{{targetgroup.name}}</td>
        </tr>
        {{/resolvedmappings}}
    </tbody>
</table>
</div>
{{/hasresolvedmappings}}
{{/canaddmapping}}
</div>
